@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400; /* funciona, mas a fonte já é naturalmente bold */
  height: 100px;
}

nav a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;           /* estilo da Berzerk */
  text-transform: uppercase;     /* deixa mais profissional */
  padding: 8px 14px;             /* conforto visual */
  display: inline-block;
}
nav {
  
  
}