@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  height: 100px;
}

nav a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;           
  text-transform: uppercase;   
  padding: 8px 14px;         
  display: inline-block;
}
