.card {
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 2px 8px rgba(245, 0, 0, 0.1);
  height: 100%;
  border-radius: 0;
  
}

/* Hover correto */
.card:hover {
 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.30) !important;
    transform: translateY(-8px);
}


/* Imagem do carrinho */
.card-img-container img { 
  width: 64px; 
  height: 64px; 
  object-fit: contain; 
}

section{
  
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
