.card {
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(255, 0, 0, 0.6);
}

.card-img-container img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
