.card {
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 2px 8px rgba(245, 0, 0, 0.1);
  border-radius: 0;
  height: 100%;
  
}

/* Hover correto */
.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.30) !important;
    transform: translateY(-8px);
}


/* Imagem do carrinho */
.card-img-container {
  width: 100%;
  height: 230px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .25s ease;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}