/* CARD DO PRODUTO */
.product-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    height: 100%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform .3s ease;
}

.product-card:hover {
    transform: translateY(-4px);
}

/* IMAGEM */
/* CONTAINER DA IMAGEM */
.card-img-wrapper {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
}

.product-img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.4s ease;
}

.product-card:hover .product-img {
    transform: scale(1.05);
}


/* OVERLAY */
.product-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.15)
    );
    z-index: 1;
}

/* DESCONTO */
.badge-discount {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 3;
    font-size: .8rem;
}

/* CORPO */
.card-body {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 1rem;
}

/* TEXTO */
.card-body h6 {
    font-size: 1rem;
    font-weight: 600;
}

.price-original {
    text-decoration: line-through;
    font-size: .85rem;
    color: #999;
}

.price-final {
    font-size: 1.1rem;
    font-weight: 700;
    color: #000000;
}
.banner {
    background-image: url("../images/Categorias.png");
     background-repeat: no-repeat;
     background-position: center center; 
      background-size: 100%;              /* tamanho da imagem */
      height: 400px;
}
.btn-outline {
        border-radius: 20px;
    padding: 6px 18px;
     color: #ffffff; ;
        background-color: rgb(111, 0, 255)  ;
}