/* carousel Destaques */
  .carousel-full-width {
  width: 100vw;     /* ocupa 100% da largura da janela */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.carousel-faixa {
  height:700px;
  overflow: hidden;
}

.carousel-faixa .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
