body {
    background-color: #f6f7f9;
}

/* ===== BANNER ===== */
.banner-categoria {

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
}
.banner-categoria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* ===== TÍTULO ===== */
.catalog-title {
    font-weight: 600;
    margin-bottom: 25px;
}

/* ===== CARD PRODUTO ===== */
.product-card {
    border: none;
    border-radius: 16px;
    transition: transform .3s ease, box-shadow .3s ease;
    overflow: hidden;
    background-color: #fff;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
}

/* ===== IMAGEM ===== */
.card-img-wrapper {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
}

.product-img {
    max-width: 100%;
    max-height: 100%;
}
    
/* ===== DESCONTO ===== */
.badge-discount {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 0.8rem;
}

/* ===== PREÇOS ===== */
.price-original {
    font-size: 0.9rem;
    color: #000000;
    text-decoration: line-through;
}

.price-final {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
}

/* ===== BOTÃO ===== */
.btn-cart {
    border-radius: 20px;
    padding: 6px 18px;
}
.btn-sm{
        color: #ffffff; ;
        background-color: rgb(111, 0, 255)  ;
    }