.btn-saiba-mais {
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    color: #111;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s ease;
}

.btn-saiba-mais::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #111;
    transition: width .3s ease;
    border-radius: 2px;
}

.btn-saiba-mais:hover {
    color: #000;
}

.btn-saiba-mais:hover::after {
    width: 100%;
}
